.setting-container{
  display: flex;
  padding: 24px;
}
.setting-echarts{
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 64px - 48px);
  #echarts-demo{
    width: 80%;
    height: 80%;
  }
}
.setting-config{
  flex: 1;
  height: 100vh;
  height: calc(100vh - 64px - 48px);
  overflow-y: auto;
}
.setting-common{
  .group{
    &-item{
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 12px;
      position: relative;
      .label{
        width: 9em;
        display: inline-block;
        text-align: right;
        margin-right: 5px;
      }
      .ant-input, .ant-select, .ant-slider{
        width: 2.4rem;
        font-size: 12px;
        display: inline-block;
      }
      p{
        color: #999;
        font-size: 10px;
        font-weight: normal;
      }
      .color-block{
        display: inline-block;
        background: linear-gradient(to right, yellow, orange);
        width: 30px;
        height: 12px;
      }
      .sketch-picker{
        position: absolute;
        z-index: 9;
      }
      .add-item{
        color: #1890ff;
        cursor: pointer;
      }
    }
    &-item.align{
      display: flex;
      align-items: center;
    }
  }
  .ant-collapse{
    background-color: #fff;
    border: none;
    border-radius: 0;
    >.ant-collapse-item {
      border: none;
      .ant-collapse-header{
        color: #999;
        border-radius: 0;
      }
      .ant-collapse .ant-collapse-header{
        font-size: 12px;
      }
      .ant-collapse .ant-collapse-item{
        .group-item{
          .label{
            color: #999;
          }
        }
      }
    }
    
  }
}